
/* hidden elements on mobile */ 

.desktop, .search-bar-desktop { 
    display: none;
}

/* Global */ 

body {
    margin: 0;
}

.container-main {
    margin-top: 63px;
}

.container-mobile {
    max-width: 70%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 63px;
}

/* Text */ 

/* h1 is only for mobile headings */


h1 {
    font-family: 'News Cycle', sans-serif; 
    font-size: 34px;
    font-weight: bold;
    color: #000; 
    background-color: #CCDBC9;  
    text-transform: uppercase;
    text-align: center;
    max-width: 280px;
    margin: 35px auto;
    padding: 10px;
}

/* H2 is only for image centered text */ 

h2 {
    font-family: 'News Cycle', sans-serif; 
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

h4 {
    font-family:'News Cycle', sans-serif;  
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #000;
    margin-top: 0;
}

.white {
    color: #fff;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
    padding-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

/* Borders */ 

.border-lightblue {
    border: 20px solid #BDE1F7;
}

.border-blue {
    border: 20px solid #89CAF6;
}

.border-turquoise {
    border: 20px solid #6BD1C4;
}

.border-darkblue {
    border: 20px solid #3D718C;
}

.border-lightcoral {
    border: 20px solid #F6D4D1;
}

.border-coral {
    border: 20px solid #E8968E;
}

.border-darkcoral {
    border: 20px solid #EC665E;
}

.border-lightpurple {
    border: 20px solid #AA94BD;
}

.border-purple {
    border: 20px solid #872EB9;
}

.border-darkpurple {
    border: 20px solid #7C38B2;
}

.border-lightyellow {
    border: 20px solid #F9EBC6;
}

.border-yellow {
    border: 20px solid #EEC970;
}

.border-darkyellow {
    border: 20px solid #E9A912;
}

.border-lightgreen {
    border: 20px solid #CCDBC9;
}

.border-green {
    border: 20px solid #85C482;
}

.border-darkgreen {
    border: 20px solid #63785F;
}

.border-lightbeige {
    border: 20px solid #F0E6E0;
}

.border-beige {
    border: 20px solid #D4C0B3;
}

.border-lightbeige {
    border: 20px solid #F2E6DF;
}
.border-aqua {
    border: 20px solid #3EA481;
}

/* Background colors for body, containers, and image text */ 

.bg-beige {
    background-color:#D8BFB1;
}
.bg-black {
    background-color: #000;
}
.bg-blue {
    background-color: #5ca1cf;
}
.bg-darkblue {
    background-color: #3D718C;
}
.bg-lightblue {
    background-color:#BDE1F7;
}
.bg-yellow {
    background-color: #dbb45a;
}
.bg-lightyellow {
    background-color:#F9EBC6;
}
.bg-coral {
    background-color:#E8968E;
}
.bg-darkcoral {
    background-color: #EC665E;
}
.bg-lightcoral {
    background-color: #F6D4D1;
}
.bg-green {
    background-color: #85C482;
}
.bg-darkgreen {
    background-color: #63785F;
}
.bg-lightgreen {
    background-color: #CCDBC9;
}

.bg-turquoise {
    background-color: #50b4a7;
}
.bg-purple {
    background-color: #872EB9;
}
.bg-lightpurple {
    background-color: #AA94BD;
}
.bg-darkpurple {
    background-color: #7C38B2;
}
.bg-aqua {
    background-color: #3EA481;
}

/* Images */ 

.square {
    margin: 0 auto;
    object-fit:cover;
    width:240px;
    height:240px;
    max-width: 100%;
}

img {
    max-width: 100%;
}

.small-photo {
    max-width: 100%;
    padding-bottom: 30px;
}

/* centered text on square images */

.index-item-1, .index-item-2, .index-item-3, .index-item-4, .index-item-5, .index-item-6, .news-item-1, .news-item-2, .news-item-3, .explore-item-1, .explore-item-2, .explore-item-3, .explore-item-4, .explore-item-5, .visit-grid-item.three {
    margin: 0 auto;
    padding-bottom: 63px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.centered-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 230px;
}

/* Flexbox */ 

.flex-index-one, .flex-news, .flex-explore {
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Navigation Mobile */

.navigation {
background-color: black;
height:102px;
}

.icon-menu {
    width: 50px;
}

.main-logo {
    width: 80px;
    margin-left:50px;
    margin-right:50px;
}

.logo-text {
    width: 67px;
}

.navigation {
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-align:center;
}

ul {
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #000;
    margin: 0;
    position: relative;
    z-index: 2;
}

li {
padding-top: 20px;
}

li a {
    font-family: 'News Cycle', sans-serif; 
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

}

.search-bar-mobile {
    background-color: #fff;
    width: 240px;
    max-width: 240px;
    height: 46px;
    border-radius: 30px;
    outline: none;
    border: 3px solid #3EA481;
    position:relative;
    z-index: 2;
    }

input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #3EA481;
    padding-left: 20px;
}

.button-go {
    width: 52px;
    height: 46px;
    padding-left: 20px;
    position: relative;
    top: 20px;
}

#hamburger-menu {
    display: none;
}

.hidden-menu {
    display: none;
}

#hamburger-menu:checked ~ nav li.hidden-menu {
    display: block;
    background-color: #000;
    text-align: left;
    position: relative;
    z-index: 2;
}

/* Footer Mobile */

footer {
    background-color: #000;
    height: 104px;
}

.section-footer-mobile {
    text-align: center
}

.section-footer-desktop {
    display: none;
}

.footer-icon {
    width: 50px;
}

.footer-icon-big {
    width: 55px;
    padding: 22px 73px 0 73px;
}


/* Get Involved  */ 

.container-getinvolved {
    max-width: 70%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 63px;
 }

 /* Login */ 

 fieldset {
    border: none;
    padding: 0;
}

.form-box {
    max-width: 200px;
    padding: 10px;
  }

fieldset input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid #3EA481;
    outline: none;
    margin-bottom: 20px;
}

.p-form {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.login-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 30px;
}

legend {
    font-family: 'News Cycle', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #63785F;
    padding: 0 0 30px 0;
}

 /* My Notes Mobile */ 


.polygon-notes {
    display: block;
    width: 60%;
    height: auto;
    margin: 40px auto;
    
}

/* Contact page */ 

.button-contact.mobile {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 280px;
}

.some-icon {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
    padding-bottom:50px;
}

/* Visit Page mobile */ 

.container-visit {
    max-width: 70%;
    margin: 0 auto;
    background-color: #F6D4D1;
    padding: 30px;
    margin-bottom: 63px;
 }

.centered-text.visit {
    top: 30%;
}

.polygon-visit {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 40px;
}

/* Buy tickets */

.grid-tickets {
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(1060px, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 150px;
}

.container-tickets-1 {
    grid-area: 1/2;
    max-width: 850px;
    max-height: 1000px;
}

.container-tickets-2 {
    grid-area: 1/2;
    margin-top: 100px;
    margin-left: 550px;
    z-index: 2;
}

.tickets-photo-1 {
    width: 500px;
}

.tickets-box {
    margin: 0 auto;
    max-width: 300px;
  }

fieldset.tickets input {
    width: 250px;
    border-radius: 10px;
    border: 3px solid #EC665E;
    outline: none;
    margin-bottom: 20px;
}

.p-form.tickets {
    margin-bottom: 2px;
}

input.tickets {
    height: 50px;
    background-color: #EC665E;
    color: #fff;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}

legend.tickets {
    padding: 0;
}

@media only screen and (min-width:1200px) {

    .active-beige {
        background-color:#D8BFB1;
    }
    .active-black {
        background-color: #000;
    }
    .active-blue {
        background-color: #89CAF6;
    }
    .active-darkblue {
        background-color: #3D718C;
    }
    .active-lightblue {
        background-color:#BDE1F7;
    }
    .active-yellow {
        background-color: #EEC970;
    }
    .active-lightyellow {
        background-color:#F9EBC6;
    }
    .active-coral {
        background-color:#E8968E;
    }
    .active-darkcoral {
        background-color: #EC665E;
    }
    .active-lightcoral {
        background-color: #F6D4D1;
    }
    .active-green {
        background-color: #85C482;
    }
    .active-darkgreen {
        background-color: #63785F;
    }
    .active-lightgreen {
        background-color: #CCDBC9;
    }
    
    .active-turquoise {
        background-color: #6BD1C4;
    }
    .active-purple {
        background-color: #872EB9;
    }
    .active-lightpurple {
        background-color: #AA94BD;
    }
    .active-darkpurple {
        background-color: #7C38B2;
    }
    .active-aqua {
        background-color: #3EA481;
    }

    /* hidden elements */ 

    .mobile, .search-bar-mobile, h1, .hamburger-icon {
        display: none;
    } 

    /* Desktop header and nav */ 

    .navigation {
       height: 231px; 
       padding-top: 0;
    }
    .main-logo {
        width: 119px;
        text-align:center;
        padding: 42px 16px 20px 15px ;
        }
    .logo-text {
        width: 108px;
        padding-bottom: 20px;
    }
    ul {
        text-align: center;    
        padding-left: 0;
        padding-bottom: 0px;
    }
    .hidden-menu {
        display: inline;
        margin: 0 auto;
        max-width: 1080px;
    }
    li a {
    padding: 5px 20px 20px 20px;
    }
    
    #search-menu {
        display:none;
    }
    
    #search-menu:checked ~ div.search-bar-desktop {
        display: block;
        text-align: left;
        position: relative;
        padding-bottom: 10px;
        z-index: 2;
    }

    .search-icon {
        display: block;
    }
    
    .icon-search {
        float: right;
        height: 46px;
        position: absolute;
        top: 0px;
        right: 40px;
    }

    .search-bar-dropdown {
        display: block;
        background-color: #fff;
        width: 600px;
        height: 46px;
        border-radius: 30px;
        outline: none;
        border: 3px solid #3EA481;
        margin: 50px auto 40px;
    }

    /* Main */
    
    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    /* Login Desktop */ 

    .grid-login {
        max-width: 1080px;
        display: grid;
        grid-template-columns: repeat(1060px, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-bottom: 150px;
    }

    .container-login-1 {
        grid-area: 1/2;
        max-width: 850px;
        max-height: 600px;
    }

    .container-login-2 {
        grid-area: 1/2;
        margin-top: 100px;
        margin-left: 550px;
        z-index: 2;
    }

    .container-login-3 {
        grid-area: 1/2;
        max-width: 300px;
        margin-top: 550px;
        margin-left: 250px;
        z-index: 2;
    }

    .login-photo-1 {
        width: 500px;
    }

    .form-box {
        max-width: 300px;
        padding: 100px;
      }

    fieldset.tickets input {
        height: 30px;
        width: 400px;
    }

    .tickets-box {
        margin: 0 0;
        padding: 20px;

    }


    /* Notes Page Desktop */ 

    .polygon-notes.one {
        display: block;
        width: 400px;
        height: auto;
        margin: 40px 0 0 200px;
    }
    .polygon-notes.two {
        display: block;
        width: 300px;
        height: auto;
        margin: 40px 0 0 500px ;
    }


    /* Explore Desktop  */ 

    .flex-explore {
        justify-content: space-between;
    }

    /* Visit Desktop */ 

    .container-visit {
        display: block;
        max-width: 620px;
        border: 20px solid #E8968E;
    }

    .square {
        margin: 0 auto;
        object-fit:cover;
        width:287px;
        height:287px;
        max-width: 100%;
    }

    /* Index Desktop */ 

    .flex-index-two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .polygon-index {
        display: block;
        width: 300px;
    }
    .container-main {
        margin: 75px auto;
        max-width: 1060px;  
    }

    /* News Page Desktop */ 

    .news.desktop {
        display: block;
    }

    .news-photos {
        margin: 0 auto;
        object-fit:cover;
        height: 570px;
        max-width: 100%;
    }

    .news-photos.one {
        width: 337px;
    }

    .news-photos.two {
        width: 309px;
    }

    .news-photos.three {
        width: 614px;
    }

    .container-news {
        height:500px;
        padding: 20px 30px 50px 30px;
    }

    .container-news.one {
        width: 483px;
    }

    .container-news.two {
        width: 511px;
    }

    .container-news.three {
        width: 206px;
    }


    .news-story {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px; 
    }

    /* Contact page desktop */ 

    .container-contact {
        grid-area: 1/1/2/2;
        margin-left: 30px;
        display: block;
        max-width: 600px;
        max-height: 150px;
        padding: 30px;
    }
    .some-icon {
        width: 75px;
        display: inline;
        padding: 0 25px;
    }
    .grid-contact {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 30px;
        margin-bottom: 350px;
    }

    .some-group         {
        grid-area: 1/1/2/2;
        margin: 450px auto 0;
        
     }

     .button-getinvolved     {
        grid-area: 1/2 ;
        display: block;
        max-width: 350px;
        margin-top: 200px;
        margin-left: 50px;
    }


     /* Get Involved Desktop */ 

    .grid-getinvolved {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1060px, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        margin-bottom: 150px;
    }

    .container-getinvolved {
        grid-area: 1/2;
        border: 20px solid #3EA481;
        max-width: 450px;
        max-height: 600px;
        padding: 70px;
        margin-left: 30px;
    }

    .image-getinvolved.desktop {
        display: block;
        grid-area: 1/2;
        margin-left: 740px;
        margin-top: 120px;
    }

    .img-gi {
        border: 20px solid #3D718C;
        max-height: 450px;
    }

    .button-contact.desktop {
        display: block;
        grid-area: 1/2;
        max-width: 350px;
        margin-top: 700px;
        margin-left: 500px;
    }

    /* Special Events Desktop */ 

    .grid-specialevents {
        max-width: 1080px;
        display: grid;
        grid-template-columns: repeat(1060px, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-bottom: 150px;
    }

    .container-specialevents-1 {
        grid-area: 1/2;
        max-width: 1000px;
        height:fit-content;
    }

    .container-specialevents-1 p {
        padding: 0 70% 10% 7%;
    }

    .container-specialevents-1 h3 {
        padding: 5% 0 0 7%;
    }

    .container-specialevents-2 {
        grid-area: 1/2;
        margin-top: 150px;
        margin-left: 450px;
        z-index: 2;
    }

    .specialevents-photo-1 {
        width: 450px;
    }

    .container-specialevents-3 {
        grid-area: 1/2;
        margin-top: 450px;
        margin-left: 150px;
        max-width: 700px;
        max-height: 450px; 
        z-index: 1;
    }

    .container-specialevents-3 p {
        padding: 0px 50px 60px 420px;
    }

    .container-specialevents-3 h3 {
        padding: 100px 50px 0 420px;
    }

    .specialevents-photo-2 {
        width: 220px;
    }

    .container-specialevents-4 {
        grid-area: 1/2;
        margin-top: 680px;
        margin-left: 250px;
        z-index: 2;
    }

    .container-specialevents-5 {
        grid-area: 1/2;
        margin-top: 1000px;
        z-index: 1;
    }

    .container-specialevents-5 h3 {
        padding: 60px 710px 0 60px;
    }

    .container-specialevents-5 p {
        padding: 0 65% 10% 6%;
    }

    .specialevents-photo-3 {
        width: 420px;
    }
    .container-specialevents-6 {
        grid-area: 1/2;
        margin-top: 1100px;
        margin-left: 540px;
        z-index: 2;
    }

    /* Exhibitions Desktop */ 

    .grid-exhibitions {
        max-width: 1080px;
        display: grid;
        grid-template-columns: repeat(1060px, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-bottom: 150px;
    }

    .container-exhibitions-1 {
        grid-area: 1/2;
        max-width: 850px;
        max-height: 600px;
    }

    .container-exhibitions-1 p {
        padding: 150px 450px 0 95px;
    }

    .container-exhibitions-2 {
        grid-area: 1/2;
        margin-top: 100px;
        margin-left: 550px;
        z-index: 2;
    }

    .exhibitions-photo-1 {
        width: 500px;
    }

    .container-exhibitions-3 {
        grid-area: 1/2;
        margin-top: 550px;
        margin-left: 250px;
        max-width: 700px;
        max-height: 450px; 
        z-index: 2;
    }

    .exhibitions-photo-2 {
        width: 300px;
    }

    .container-exhibitions-4 {
        grid-area: 1/2;
        margin-top: 880px;
        margin-left: 450px;
        max-width: 610px;
        height: fit-content;
        z-index: 1;
    }


    .container-exhibitions-4 p {
        padding: 15% 7% 15% 35%;
    }

    .container-exhibitions-5 {
        grid-area: 1/2;
        margin-top: 1200px;
        z-index: 2;
    }

    .exhibitions-photo-3 {
       width: 550px;
    }

    /* About Us Desktop */ 


    .grid-about {
        margin-top: 63px;
        max-width: 1080px;
        display: grid;
        grid-template-columns: repeat(1060px, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-bottom: 150px;
    }

    .container-about-1 {
        grid-area: 1/2;
        max-width: 800px;
        max-height: 500px;
    }

    .container-about-1 p {
        padding: 30px 350px 0 60px;
        margin: 0;
    }

    .container-about-2 {
        grid-area: 1/2;
        margin-top: 100px;
        margin-left: 550px;
        z-index: 2;
    }

    .about-photo {
        width: 400px;
    }

    .container-about-3 {
        grid-area: 1/2;
        margin-top: 600px;
        max-width: 520px;
        max-height: 500px; 
        z-index: 1;
    }

    .container-about-3 h3 {
        padding: 20px 0 0 30px;
    }

    .container-about-3 p {
        padding: 20px 30px 0 30px;
    }

    .container-about-4 {
        grid-area: 1/2;
        margin-top: 700px;
        margin-left: 650px;
        width: 300px;
        height: 500px;
    }

    .container-about-4 h3 {
        padding: 20px 0 0 30px;
    }

    .container-about-4 p {
        padding: 20px 30px 0 30px;
    }

    .container-about-5 {
        grid-area: 1/2;
        max-width: 450px;
        margin-top: 1200px;
        margin-left: 100px;
    }

    .container-about-5 h3 {
        padding: 20px 0 0 40px;
    }

    .container-about-5 p {
        padding: 20px 40px 40px 40px;
    }

    /* Side header */ 

    aside {
        float: left;
        width: 100px;
        height: auto;
        margin: 75px 0 0 150px;
        position: relative;
        z-index: 1;
    }

    aside.right {
        float: right;
        position: relative;
        top: -600px;
        right: 150px;
        margin-bottom: -600px;
        z-index: 1;
    }

    
    /* Desktop Footer */ 

    footer {
        height: 146px;
        background-color: #030303;
        }
    .section-footer-desktop {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
        }
    .footer-text {
        font-family: 'News Cycle', sans-serif; 
        font-size: 18px; 
        line-height: 0.5;
        color: #fff;        
        }

    .footer-text.padding {
        padding-top:10px;
    }
    .footer-item-1 {
        max-width: 240px;
    }

    /* Footer borders */ 

    .footer-border-beige {
        border-top: 36px solid #F2E6DF;
    }
    .footer-border-lightblue {
        border-top: 36px solid #BDE1F7;
    }
    .footer-border-lightyellow {
        border-top: 36px solid #F9EBC6;
    }
    .footer-border-lightcoral {
        border-top: 36px solid #F6D4D1;
    }
    .footer-border-lightgreen {
        border-top: 36px solid #CCDBC9;
    }
    .footer-border-lightpurple {
        border-top: 36px solid #AA94BD;
    }

    /* Visit Page Desktop */ 

    .grid-visit {
        display: grid;
        grid-template-columns: 630px 400px;
        grid-template-areas: 
        "main sidebar-top"
        "main sidebar-bottom";
    }

    .visit-grid-item.one {
        grid-area: main;
      }
    .visit-grid-item.two {
        grid-area: sidebar-top;
        padding-left: 30px;
      }
    .visit-grid-item.three {
        grid-area: sidebar-bottom;
      }

    .visit-grid-item.three.desktop {
        display: block;
      }

    .polygon-visit {
        display:block;
        width: 330px;
        margin: 0;
        }

      /* Hidden elements */ 

    .mobile, .container-mobile {
        display: none;
    }
}

@media only screen and (max-width:335px) {
    .main-logo {
        margin: 0 20px 0 20px;
    }
    .footer-icon-big {
        width: 55px;
        padding: 22px 40px 0 40px;
    }
    fieldset input {
        height: 30px;
        width: 150px;
    }

    fieldset.tickets input {
    height: 30px;
    width: 150px;
    }

    .tickets-box {
        padding: 0;
    }

    input.search-bar-mobile {
        width: 160px;
    }
}


@media only screen and (max-width:1199px) {
    aside, .desktop {
        display: none;
    }
}

@media only screen and (max-width:1600px) {
    aside.right {
        display:none
    }
}